{% extends 'base.html' %}
{% block body %}

<body style="text-align:center;" >
<h1><b> MOVIES</b></h1>

<form method="POST" enctype="multipart/form-data" style="text-align:center; ">
    {% csrf_token %}
    NAME:<input type="text" name ="name" placeholder="Enter your movie name"><br><br>
     DESCRIPTION:<input type="text" name="desc" placeholder="Enter the movie description"><br><br>
     YEAR:<input type="text" name="year" placeholder="Enter the movie year"><br><br>
     IMAGE:<input type="file" name="img" ><br><br>
     <input type="submit" style="background-color:green; color:white">
</form>
</body>
{% endblock %}